[submodule "public/themes/hugo-liftoff"]
	path = public/themes/hugo-liftoff
	url = https://github.com/wjh18/hugo-liftoff.git
[submodule "themes/hugo-liftoff"]
	path = themes/hugo-liftoff
	url = https://github.com/wjh18/hugo-liftoff.git
